In [6]:
from random import shuffle

antall_grupper = 7

navn = ['Joseph','Amélie','Aron','Jaran','Sverre','Maia','Elias','Niklas','Mithun',
        'Ingunn','Elise','Vilde','Jon','Emilie','Anne-Cecilia','Milo','Brage',
        'Pernille','Julie','Peter','Oskar','Christine','Nicholas']

shuffle(navn)

for n in range(antall_grupper):
    print(f"Gruppe {n+1}: {', '.join(navn[n::antall_grupper])}")

Gruppe 1: Jon, Nicholas, Milo, Elias
Gruppe 2: Julie, Peter, Anne-Cecilia, Maia
Gruppe 3: Joseph, Emilie, Vilde
Gruppe 4: Pernille, Mithun, Ingunn
Gruppe 5: Christine, Jaran, Oskar
Gruppe 6: Niklas, Amélie, Sverre
Gruppe 7: Elise, Aron, Brage

In [7]:
from random import shuffle

antall_grupper = 8

navn = ['Gulbrand','Brage E','Ida','Romeo','Emil','Sigrid','Andreas','Håvard',
        'Mikkel','Ulrikke','Lavrans','Anna','Brage L','Zander','Afras','Einar',
        'Torje','Armondas','Oscar','Håkon','Morten','Torkil','Alvaro','Jakob, Mathias']

shuffle(navn)

for n in range(antall_grupper):
    print(f"Gruppe {n+1}: {', '.join(navn[n::antall_grupper])}")

Gruppe 1: Andreas, Håvard, Anna
Gruppe 2: Torkil, Lavrans, Brage L
Gruppe 3: Armondas, Ida, Oscar
Gruppe 4: Einar, Ulrikke, Morten
Gruppe 5: Alvaro, Afras, Mikkel
Gruppe 6: Romeo, Torje, Brage E
Gruppe 7: Håkon, Sigrid, Zander
Gruppe 8: Gulbrand, Emil, Jakob, Mathias